PROGRAM_ID=
PATH_1=
PATH_2=
MESSI_MINT=
RONALDO_MINT=
TREASURY_ADDRESS=
RPC=
POLL_INTERVAL_MS=60000
BREAK_DURATION_SECS=600
START_ROUND=1
DEPLOYMENT_START_ROUND=1
CRANKER_ENABLED=False
# ROUND_DURATION_SECS=
# BREAK_DURATION_SECS=